<div class="container color-dark">
	<div class="col">
		<p> Ajouter un article</p>
	</div>
	<div class="col">
		<p> Votre liste d'articles</p>
	</div>
</div>
<div class="container color-light">
	<div class="col">
		<p class="sm"> Utiliser ce formulaire pour ajouter un nouvel article. <br> Que voulez-vous acheter ?</p>
		<form>
			<input type="text" class="txt" name="item" placeholder="un article...">
			<input type="submit" class="btn" value="Ajouter article">
		</form>
	</div>
	<div class="col">
		<p class="life-container"> 
		Un ordinateur portable
		</p>
	</div>
</div>